    <div id="navigation" class="nav" aria-hidden= "true">
      <nav role="navigation">
        <a role= "link" title= "Click for overview" href="/">Overview</a> |
        <a role= "link" title= "Click for download" href="/download/">Download</a> |
        <a role= "link" title= "Click for deploy" href="/deploy/">Deploy</a> |
        <a role= "link" title= "Click for bugs and patches" href="https://github.com/rails/rails/issues">Bugs/Patches</a> |
        <a role= "link" title= "Click for Screencasts" href="/screencasts/">Screencasts</a> |
        <a role= "link" title= "Click for documentation" href="/documentation/">Documentation</a> |
        <a role= "link" title= "Click for comunity" href="/community/">Community</a> |
        <a role= "link" title= "Click for Blog" href="http://weblog.rubyonrails.org">Blog</a>
      </nav>
    </div>